<h1>I miei film</h1>

<p *ngIf="!films"><em>Non hai aggiunto nessun film</em></p>

<table class='filmtable' *ngIf="films">
    <thead>
        <tr>
            <th>Locandina</th>
            <th>Titolo film</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let film of films">
            <td class="col1"><img src="{{film.copertina}}"></td>
            <td class="col2">{{ film.nomeFilm }}</td>
            <td><button (click)="gotoDetail(film._id)">Info</button><button (click)="removeFromMyFilms(film._id)">Rimuovi</button></td>
        </tr>
    </tbody>
</table>
