<h1>Dettagli Film</h1>

<p *ngIf="!film"><em>Loading...</em></p>

<div *ngIf="film">
    <div class="row">
        <div class="col-sm-4">
            <img src="{{film.copertina}}" class="img-responsive">
        </div>
        <div id="filminfo" class="col-sm-7">
            <ul>
                <li>Titolo: {{ film.nomeFilm }}</li>
                <li>Durata: {{ film.durata }} min</li>
                <li>Genere: {{ film.categoria }}</li>
                <li>Regista: {{ film.regista }}</li>
                <li>Anno: {{ film.anno }}</li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin:15px;">
        <p>{{ film.descrizione}}</p>
        <div>
            <button (click)="goBack();">Indietro</button>
            <button (click)="removeFilm(film._id)" style="position:relative; float:right;" *ngIf="check&&showadd">Rimuovi</button>
            <button (click)="addFilm(film._id)" style="position:relative; float:right;" *ngIf="!check&&showadd">Aggiungi</button>
        </div>
    </div>   
</div>
